body {
  background-color: grey

}

blockquote:before {
  color: brown;
  content: open-quote;
  font-size: 8em;
  line-height: .1 em;
  margin-right: -.1 em;
  vertical-align: -0.0 em;
}

@import url(https://fonts.googleapis.com/css?family=Poiret+One);
@import url(https://fonts.googleapis.com/css?family=Concert+One);
@import url(https://fonts.googleapis.com/css?family=Alex+Brush);
@import url(https://fonts.googleapis.com/css?family=Bellefair);
@import url(https://fonts.googleapis.com/css?family=Abel);
@import url(https://fonts.googleapis.com/css?family=Calligraffitti);
@import url(https://fonts.googleapis.com/css?family=Bilbo);
@import url(https://fonts.googleapis.com/css?family=Mrs+Sheppards);
@import url(https://fonts.googleapis.com/css?family=Permanent+Marker);

h1 {
  font-family: 'Concert One';

}

h2 {
  font-family: 'Permanent Marker';

}

h3 {
  font-family: 'Mrs Sheppards';

}

h4 {
  font-family: 'Bellefair';

}

h5 {
  font-family: 'Calligraffitti';

}

h6 {
  font-family: 'Abel';

}

p {
  font-family: 'Bilbo';

}

.bliss-font {
  font-family: 'Bilbo';
}

.symptomatic-diabetic-font {
  font-family: 'Permanent Marker';
}

.discovered-diabetic-font {
  font-family: 'Mrs Sheppards';
}

.treated-diabetic-font {
  font-family: 'Bellefair';
}

.genki-diabetic-font {
  font-family: 'Calligraffitti';
}

.rip-font {
  font-family: 'Abel';
}

.daegorys-world-2-font {
  font-family: 'Permanent Marker';
}
