.kami {
  border-radius: 3px;
  background-color: pink;
  border: 3px solid pink;
  color: black;
  text-align: center;
  vertical-align: middle;
  font-size: 8px;
  padding: 5px;
  width: 33px;
  height: 33px;
  top: 0px;
  right: 0px;
  cursor: pointer;
  margin: 1px;
  display: inline-block;
  opacity: 100;




}

.button {
  border-radius: 0px;
  background-color: pink;
  border: 0px solid pink;
  color: black;
  text-align: top;
  font-size: 8px;
  padding: 0px;
  width: 20px;
  transition: all 0s;
  cursor: pointer;
  margin: 0px;

}

.button span {
  cursor: pointer;
  display: inline-block;
  position: top;
  transition: 0s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -0px;
  transition: 0s;
}

.button:hover span {
  padding-right: 0px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}



.card {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0px;
    border: 3px solid pink;

}

body {
  background-color: grey

}

blockquote:before {
  color: brown;
  content: open-quote;
  font-size: 8em;
  line-height: .1 em;
  margin-right: -.1 em;
  vertical-align: -0.0 em;
}

@import url(https://fonts.googleapis.com/css?family=Poiret+One);
@import url(https://fonts.googleapis.com/css?family=Concert+One);
@import url(https://fonts.googleapis.com/css?family=Alex+Brush);
@import url(https://fonts.googleapis.com/css?family=Bellefair);
@import url(https://fonts.googleapis.com/css?family=Abel);
@import url(https://fonts.googleapis.com/css?family=Calligraffitti);
@import url(https://fonts.googleapis.com/css?family=Bilbo);
@import url(https://fonts.googleapis.com/css?family=Mrs+Sheppards);
@import url(https://fonts.googleapis.com/css?family=Permanent+Marker);

h1 {
  font-family: 'Concert One';

}

h2 {
  font-family: 'Permanent Marker';

}

h3 {
  font-family: 'Mrs Sheppards';

}

h4 {
  font-family: 'Bellefair';

}

h5 {
  font-family: 'Calligraffitti';

}

h6 {
  font-family: 'Abel';

}

p {
  font-family: 'Calligraffitti';

}

.bliss-font {
  font-family: 'Bilbo';
}

.symptomatic-diabetic-font {
  font-family: 'Permanent Marker';
}

.discovered-diabetic-font {
  font-family: 'Mrs Sheppards';
}

.treated-diabetic-font {
  font-family: 'Bellefair';
}

.genki-diabetic-font {
  font-family: 'Calligraffitti';
}

.rip-font {
  font-family: 'Abel';
}

.daegorys-world-2-font {
  font-family: 'Permanent Marker';
}
