.zoo {
  border: 1px solid purple;
  margin: 1px;
  font-size: 1rem;
  font-family: 'VT323';
  color: #ffff00;
  background-color: #8d6e63;


}

.jkr {
  border-radius: 5px;
  border: 1px solid cyan;
}

.ace {
  border-radius: 25px;
  border: 1px solid pink;
  margin: 1 auto;
  background-color: pink;
  color: brown;
}

.kami {
  border-radius: 5px;
  border: 1px solid black;
  width: 55px;
  padding: 5px;
  text-align: center;
  vertical-align: middle;

}

.kami i{
  font-size: 1rem;

}

.box {
  color: brown;
  border: 1px solid brown;
}

.box i{

}

.thin-text {
  font-family: 'Pragati Narrow';
  font-size: .8rem;
}






















.samuneiru {
  background-color: brown;
  width: 5px;
  height: 50px;
  padding: 3;
  border: 1px solid white;
}

.samuneiru i{
  font-size: 2rem;
}



.button {
  border-radius: 3px;
  background-color: ;
  border: 1px solid pink;
  color: black;
  text-align: center;
  transition: all 3s;
  cursor: pointer;
  vertical-align: middle;

}

.card {
  display: inline-block;
  width: 10px;
  height: 100px;
  border: 3px solid pink;
  font-size: 3px;
  font-family: 'Roboto';
  font-style: 'italic';
  vertical-align: middle;
}

body {
  background-color: grey;

}

blockquote:before {
  color: brown;
  content: open-quote;
  font-size: 8em;
  line-height: .1 em;
}

@import url(https://fonts.googleapis.com/css?family=Poiret+One);
@import url(https://fonts.googleapis.com/css?family=Concert+One);
@import url(https://fonts.googleapis.com/css?family=Alex+Brush);
@import url(https://fonts.googleapis.com/css?family=Bellefair);
@import url(https://fonts.googleapis.com/css?family=Abel);
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Calligraffitti);
@import url(https://fonts.googleapis.com/css?family=Bilbo);
@import url(https://fonts.googleapis.com/css?family=Mrs+Sheppards);
@import url(https://fonts.googleapis.com/css?family=Permanent+Marker);
@import url(https://fonts.googleapis.com/css?family=Montez);
@import url(https://fonts.googleapis.com/css?family=Share+Tech+Mono);
@import url(https://fonts.googleapis.com/css?family=VT323);
@import url(https://fonts.googleapis.com/css?family=Pragati+Narrow);

h1 {
  font-family: 'Concert One';
  font-size: 6em;
}

h2 {
  font-family: 'Concert One';
  font-size: 5em;
}

h3 {
  font-family: 'Concert One';
  font-size: 4em;
}

h4 {
  font-family: 'Concert One';
  font-size: 3em;
}

h5 {
  font-family: 'Concert One';
  font-size: 2em;
}

h6 {
  font-family: 'Concert One';
  font-size: 1em;
}

p {
  font-family: 'Roboto';
  font-size: 1em;
}

.bliss-font {
  font-family: 'Bilbo';
}

.symptomatic-diabetic-font {
  font-family: 'Permanent Marker';
}

.discovered-diabetic-font {
  font-family: 'Mrs Sheppards';
}

.treated-diabetic-font {
  font-family: 'Bellefair';
}

.genki-diabetic-font {
  font-family: 'Calligraffitti';
}

.rip-font {
  font-family: 'Abel';
}

.daegorys-world-2-font {
  font-family: 'Permanent Marker';
}
